body {
  margin: 0px;
}
#navbar {
  top: 0px;
  left: 0px;
  background-color: #be3144;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}
ul {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  margin: 0px;
}
nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav ul li:hover {
  background-color: #45567d;
}
#contact {
  margin-right: 20px;
}
#welcome-section {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
  color: whitesmoke;
}
#web-developer {
  color: #be3144;
}
section {
  display: block;
}
#projects {
  background-color: rgb(0%, 40%, 100%);
  display: flex;
  flex-direction: column;
}
#projects-title {
  text-decoration: underline;
  text-align: center;
  color: whitesmoke;
  margin-top: 150px;
  font-size: 40px;
}
img {
  display: block;
  width: 100%;
  height: calc(100% - 6rem);
  object-fit: cover;
}
.project-link {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgb(10%, 20%, 20%);
  color: white;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-top: 15px;
}
#projects-pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  margin: 100px auto 6rem auto;
  max-width: 1200px;
}
.project-link:hover {
  color: #be3144;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-property: color;
}
.show_all {
  color: whitesmoke;
  text-decoration: none;
  width: 140px;
  height: 37px;
  text-align: center;
  margin: 0px auto 100px auto;
  padding-top: 15px;
  background-color: rgb(10%, 20%, 20%);
  font-size: 22px;
}
.show_all:hover {
  color: whitesmoke;
  transform: scale(0.9);
  border-radius: 5px;
  transition: 1s;
  background-color: #be3144;
}
#pcontacts {
  display: flex;
  flex-direction: column;
  background-color: rgb(10%, 20%, 20%);
}
#project-contact {
  color: whitesmoke;
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 150px;
}
#question {
  color: whitesmoke;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
}
#contact-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 25px;
}
.contact-link {
  color: whitesmoke;
  text-decoration: none;
  padding: 0px;
  width: 170px;
  text-align: center;
}
.contact-link:hover {
  transition: 0.3s;
  transform: scale(1.3);
  background-color: #be3144;
  border-radius: 15px;
}
#footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(10%, 20%, 20%);
  border-top: 5px solid #be3144;
}
footer p {
  margin-right: 70px;
  color: whitesmoke;
}
@media (max-width: 650px) {
  #contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 25px;
  }
  .contact-link {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  #contact-links {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 25px;
  }
  .contact-link {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  #contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 25px;
  }
  .contact-link {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
}
